
html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

@media screen and (min-width: 900px) {
.halfr {
	height: 10%;
	width: 100%;
	background-color: red;
}

.blue {
	height: 40vh;
	width: 100vw;
}

.box {
	height: 100%;
	width: calc(100%/3);
	}
	
.picture {
	height: 85vh;
	width:100vw;
	background-color: orange;
}
}

@media screen and (max-width: 899px) {

.halfr {
	height: 10%;
	width: 100%;
	background-color: red;
}

.blue {
	height: 40vh;
	width: 100vw;
}

.box {
	height: 30%;
	width: 100%;
}
	
.picture {
	height: 85vh;
	width:100vw;
	background-color: orange;
}
}	

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.white {
	background-color: grey;
}

.blue1 {
	background-color: blue;
}

